
<div class="login-box">

 <div ng-show="loginError" class="alert alert-danger">{{loginError}}</div>
  <div class="login-box-body">
    <p class="login-box-msg">Sign in to start your session</p>
    <form name="logIn_form" ng-submit="signIn()" novalidate>
      <div class="form-group has-feedback">
        <input type="text" name="email" ng-model="userToLogin.login"
          required  class="form-control" placeholder="Email or User Name"/>
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div ng-show="logIn_form.email.$dirty"  ng-messages="logIn_form.email.$error" ng-messages-multiple>
          <div  class="label label-danger" ng-message="required">
            Email / User name is required!
          </div>

        </div>

      </div>
      <div class="form-group has-feedback">
        <input type="password" name="password" ng-model="userToLogin.pass"
         required  class="form-control" placeholder="Password"/>
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div ng-show="logIn_form.password.$dirty"  ng-messages="logIn_form.password.$error" ng-messages-multiple>
          <div  class="label label-danger" ng-message="required">
            Password is required!
          </div>

        </div>

      </div>
      <div class="row">
        <div class="col-xs-8">
          <div class="checkbox icheck">
            <label>
              <input type="checkbox"> Remember Me
            </label>
          </div>
        </div><!-- /.col -->
        <div class="col-xs-4">
          <button ng-disabled="logIn_form.$invalid" type="submit"
           class="btn btn-primary btn-block btn-flat">Sign In</button>
        </div><!-- /.col -->
      </div>
    </form>

    <div class="social-auth-links text-center">
      <p>- OR -</p>
      <a href="#" class="btn btn-block btn-social btn-facebook btn-flat"><i class="fa fa-facebook"></i> Sign in using Facebook</a>
      <a href="#" class="btn btn-block btn-social btn-google-plus btn-flat"><i class="fa fa-google-plus"></i> Sign in using Google+</a>
    </div><!-- /.social-auth-links -->

    <a href="#">I forgot my password</a><br>
    <a href="/register" class="text-center">Register a new membership</a>

  </div><!-- /.login-box-body -->
</div><!-- /.login-box -->

<script>
  $(function () {
    $('input').iCheck({
      checkboxClass: 'icheckbox_square-blue',
      radioClass: 'iradio_square-blue',
      increaseArea: '20%' // optional
    });
  });
</script>
